@{
    Layout = "../Shared/_Layout.cshtml";
}
@section Styles
{
    <link href="~/Scripts/bower_libs/dropzone/dist/min/basic.min.css" rel="stylesheet" />
    <link href="~/Scripts/bower_libs/dropzone/dist/min/dropzone.min.css" rel="stylesheet" />
}
@section Scripts
{
    <script src="~/Scripts/bower_libs/dropzone/dist/min/dropzone.min.js"></script>
    <script src="~/Scripts/bower_libs/dropzone/dist/min/dropzone.min.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/ctrls/BlogEditCtrl.js"></script>
}
<div class="container">
    <div class="page-header">
        <h3>@Resources.Resource.WorkBlog</h3>
    </div>
    <div>
        <div class="form-group">
            <div class="jumbotro">
                <form action="/Blog/Photo/@Request.Url.ToString().Split('/').Last()" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm" style="width: 200px; border: none;">
                    <div><img id="photo" name="photo" class="img-rounded img-responsive" style="width: 160px;" /></div>
                    <div class="fallback">
                        <input name="file" type="file" />
                        <input type="submit" value="Upload" />
                    </div>
                </form>
            </div>
        </div>
        <form id="commentForm" class="form-horizontal" method="POST" name="form1">
            <div class="form-group">
                <label class="col-sm-2 control-label">@Resources.Resource.BlogTitle</label>
                <div class="col-sm-4">
                    <input id="blogtitle" name="blogtitle" class="form-control" placeholder="@Resources.Resource.InputBlogTitle" required autofocus />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">@Resources.Resource.Catalog</label>
                <div class="col-sm-4">
                    <input id="catalog" name="catalog" class="form-control" placeholder="@Resources.Resource.InputCatalog" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-4">
                    <textarea id="blogdetail" name="blogdetail" rows="8" class="form-control ckeditor" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">@Resources.Resource.Tag</label>
                <div class="col-sm-4">
                    <input id="tag" name="tag" class="form-control" placeholder="@Resources.Resource.InputTag" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button id="btnAdd" type="button" class="btn btn-danger" data-loading-text="@Resources.Resource.Loading">@Resources.Resource.Confirm</button>
                    <button id="btnCancel" type="button" class="btn btn-default">@Resources.Resource.Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>