@{
    Layout = "../Shared/_Layout.cshtml";
}
@section Scripts
{
<script src="~/Scripts/ctrls/JobMasterCtrl.js"></script>
}
<div class="container">
    <div class="page-header">
        <button id="btnEdit" type="button" class="btn btn-danger">@Resources.Resource.Edit</button>
        <a id="btnBackToCompany" name="btnBackToCompany" class="btn btn-danger">@Resources.Resource.BackToCompanyMaster</a>
        <h3><label id="jobtitle" name="jobtitle" /></h3>
    </div>
    <div class="col-sm-offset-2 col-sm-10">
        <p>
            <img id="photo" name="photo" class="img-rounded img-responsive" style="max-height: 300px;" />
        </p>
        <br />
        <div>
            <legend class="text-danger">
                <i class="fa fa-check-circle"></i>
                @Resources.Resource.JobWhat
            </legend>
            <p>
                <label id="jobwhat" name="jobwhat" class="contentLabel text-muted" />
            </p>
            <legend class="text-danger">
                <i class="fa fa-check-circle"></i>
                @Resources.Resource.JobWhy
            </legend>
            <p>
                <label id="jobwhy" name="jobwhy" class="contentLabel text-muted"/>
            </p>
            <legend class="text-danger">
                <i class="fa fa-check-circle"></i>
                @Resources.Resource.JobHow
            </legend>
            <p>
                <label id="jobhow" name="jobhow" class="contentLabel text-muted"/>
            </p>
            <legend class="text-danger">
                <i class="fa fa-check-circle"></i>
                @Resources.Resource.JobDetail
            </legend>
            <p>
                <label id="jobdetail" name="jobdetail" class="contentLabel text-muted"/>
            </p>
            <p>
                @Resources.Resource.JobType：<label id="jobtype" name="jobtype" />
            </p>
            <p>
                @Resources.Resource.JobArea：<label id="jobarea" name="jobarea" />
            </p>
            <p>
                @Resources.Resource.StatusType：<label id="jobstatus" name="jobstatus" />
            </p>
            <p>
                @Resources.Resource.SalaryRange：<label id="slary" name="slary" />
            </p>
            <p>
                @Resources.Resource.Tag：<label id="tag" name="tag" />
            </p>
            <p>
                @Resources.Resource.JobCreateDate：<label id="createdate" name="createdate" />
            </p>
            <p>
                @Resources.Resource.UpdateDate：<label id="updatedate" name="updatedate" />
            </p>
        </div>
    </div>
</div>